<html>

<head>
    <title>Contact</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <meta name="viewport" content="width=320, initial-scale=1.0" />
</head>

<body>
    <header class="header">
        <div class="wrapper">
            <div class="row">
                <div class="w-2">
                    <div id="logo">
                        <img class="logos" src="images/Logo.png" alt="Logo">
                    </div>
                </div>
                <div class="w-2 align-right">
                    <div id="search">
                        <div id="search-in" class="flex">
                            <input type="text" placeholder="Search">
                            <button>Submit</button>
                        </div>
                    </div>
                    <div class="hm" id="menu">
                        <input id="mt" type="checkbox" />
                        <label class="mb" for="mt">
                            <span></span>
                        </label>
                        <ul class="menubox">
                            <li><a class="menui" href="index.html">Home</a></li>
                            <li><a class="menui" href="">Company Profile</a></li>
                            <li><a class="menui" href="products.html">Products</a></li>
                            <li><a class="menui" href="">Services</a></li>
                            <li><a class="menui" href="">R & D</a></li>
                            <li><a class="menui" href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="slider3"></div>

    <div class="content3 products">
        <div class="wrapper">
            <div class="c_title">
                <h1>Contact us</h1>
            </div>
            <div class="c_star">*****</div>
            <div class="cart-table">
                <table>
                    <tr v-for="product in cart" :key="product.id">
                        <td><img class="img_bl" :src="product.image" alt="Product Image"></td>
                        <td>
                            <p><strong class="product-title">{{ product.title }}</strong></p>
                            <p class="product-short-text">{{ product.short_text }}</p>
                        </td>
                        <td><img @click.prevent="removeFromCart(product.id)" class="cross" src="../images/cross.png"
                                alt=""></td>
                    </tr>
                </table>
            </div>


            <div v-if="orderSubmitted">
                <div class="text_sub">
                    Order Submitted!
                    <p>Here is the information you provided:</p>
                </div>
                <div class="forma_sub">
                    <div class="left-sub">
                        <p>
                            Name: {{ contactFields.username }}
                        </p>
                        <p>
                            Company Name: {{contactFields.compname}}
                        </p>
                        <p>
                            Position: {{ contactFields.position }}
                        </p>
                        <p>
                            City: {{ contactFields.city }}
                        </p>
                        <p>
                            Country: {{ contactFields.country }}
                        </p>
                        <p>
                            Telephone: {{ contactFields.telephone }}
                        </p>
                        <p>
                            Email: {{ contactFields.email }}
                        </p>
                    </div>
                    <div class="right-sub">
                        <p>
                            You are a: {{ contactFields.type }}
                        </p>
                        <p>
                            If other, please specify: {{ contactFields.other_specify }}
                        </p>
                        <p>
                            You are interested in: {{ contactFields.textarea }}
                        </p>
                    </div>
                </div>
            </div>


            <form action="" @submit.prevent="makeOrder" v-if="!orderSubmitted">
                <div class="form">
                    <div class="c_left">
                        <div class="c_texin">
                            <div class="c_text">Name *</div>
                            <div class="c_input"><input type="text" required v-model="contactFields.username"
                                    name="username"></div>
                        </div>
                        <div class="c_texin">
                            <div class="c_text">Company Name</div>
                            <div class="c_input"><input type="text" required v-model="contactFields.compname"
                                    name="compname"></div>
                        </div>
                        <div class="c_texin">
                            <div class="c_text">Position</div>
                            <div class="c_input"><input type="text" required v-model="contactFields.position"
                                    name="position"></div>
                        </div>
                        <div class="c_texin">
                            <div class="c_text">City</div>
                            <div class="c_input"><input type="text" required v-model="contactFields.city" name="city">
                            </div>
                        </div>
                        <div class="c_texin">
                            <div class="c_text">Country</div>
                            <div class="c_input"><input type="text" required v-model="contactFields.country"
                                    name="country"></div>
                        </div>
                        <div class="c_texin">
                            <div class="c_text">Telephone</div>
                            <div class="c_input"><input type="text" required v-model="contactFields.telephone"
                                    name="telephone"></div>
                        </div>
                        <div class="c_texin">
                            <div class="c_text">Email *</div>
                            <div class="c_input"><input type="email" required v-model="contactFields.email"
                                    name="email"></div>
                        </div>
                    </div>
                    <div class="c_right">
                        <div class="c_texin">
                            <div class="c_text2">You are a</div>
                            <select name="type" required v-model="contactFields.type">
                                <option value="">...</option>
                                <option value="seed producer">seed producer</option>
                                <option value="crop geneticist">crop geneticist</option>
                                <option value="plant breeder">plant breeder</option>
                                <option value="plant pathologist">plant pathologist</option>
                            </select>
                        </div>
                        <div class="c_texin">
                            <div class="c_text2">If other, please specify</div>
                            <div class="c_input2"><input type="text" required v-model="contactFields.other_specify"
                                    name="other_specify"></div>
                        </div>
                        <div class="c_texin">
                            <div class="c_text2">You are interested in</div>
                            <textarea name="textarea" required v-model="contactFields.textarea"></textarea>
                            <div class="c_text3">Please type this code</div>
                            <div class="captcha">
                                <img src="images/captch.png" alt="">
                                <div class="c_captch"><input type="text" required name="capthca"></div>
                                <button type="submit">Send Message</button>
                            </div>
                        </div>

                    </div>

                </div>
        </div>
        </form>
    </div>
    </div>
    <div class="adress">
        <div class="a_title">Our Address</div>
        <div class="a_line"></div>
        <div class="a_text">AGRIDERA Seeds & Agriculture Ltd.</div>
        <div class="a_text">P.O Box 103,</div>
        <div class="a_text">Gedera 70750, Israel.</div>
        <div class="teleph">
            <div class="a_text">Telephone:</div>
            <a href="tel:+972 8 944 9222">+972 8 944 9222</a>
        </div>
    </div>


    <div class="footer">
        <div class="footer1">
            <div class="text71">
                <ul>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Management</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li><a href="#">R&D</a></li>
                    <li><a href="#">Links</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="icon">
                <a href="#"><img class="icon1" src="images/Ico_in.png" alt=""></a>
                <a href="#"><img class="icon1" src="images/Ico_inst.png" alt=""></a>
                <a href="#"><img class="icon1" src="images/Ico_tube.png" alt=""></a>
                <a href="#"><img class="icon1" src="images/tw.png" alt=""></a>
                <a href="#"><img class="icon1" src="images/Ico_fb.png" alt=""></a>
            </div>
        </div>
        <div class="footer2">
            <div class="text52">AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>